.order_Analytics_bar{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    padding: 1em;
    margin-top: 1em;
    width: 99%;
    border: 0.1em solid #e0e0e0;
    border-radius: 1em;
    & .item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  0 0.5em;
        position: relative;
        text-align: center;
       &::after{
            content: "";
            display: block;
            width: 1px;
            height: 50%;
            background-color: #4a4a4a27;
            position: absolute;
            right: 0;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
      
        .sss{
            border-radius: 0.2em;
            padding: 0.5em 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;
            &:hover{
                background-color: #0202020a;
             }
             & h1{
                 margin: 0;
                 padding: 0;
                 font-size: 1em;
                 font-size: 500;
                 color: #4A4A4A;
             }
           & .ss{
                 width: 100%;
                 margin-top: 0.5em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                & h2{
                    margin: 0;
                    padding: 0;
                    font-size: 1em;
                }
                & .LinearProgress{
                    width:60px;
                    border-radius: 1em;
                    height: 0.5em;               
                }
             }
        }
       
    }
}
@media screen  and (max-width: 850px){
    .order_Analytics_bar{
        flex-direction: column;
        padding: 0.5em;
        margin-top: 1em;
    }
    .order_Analytics_bar .item{
        width: 100%;
        padding: 0.5em;
        margin-top: 0.5em;
        border: 0.1em solid #e0e0e0;
        border-radius: 0.5em;
        cursor: pointer;
        &:hover{
            background-color: #0202020a;
        }
        &::after{
            display: none;
        }
        & .sss{
            &:hover{
                background-color: transparent;
            }
        }
    }
}